<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset=utf-8"utf-8">
    <title>合肥粽子礼盒批发_端午节粽子团购厂家 - 尚康粽子</title>
    <meta name="keywords" content="合肥粽子批发,合肥粽子团购,合肥粽子礼盒批发">
    <meta name="description" content=" 河南尚康食品有限公司生产的端午节【尚康粽子】口味齐全，品种众多,合肥团购价格优惠,质量品牌保证,主要生产粽子及粽子礼盒等产品的批发,订购电话：0379-67579191">
    <meta http-equiv="X-Frame-Options" content="deny">
    <link href="/static/css/base.css" type="text/css" rel="stylesheet">
    <link href="/static/css/style.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/jquery-1.12.1.js"></script>
</head>
<body>
<!--顶部-->

{% include "head.html" %}
<!--logo_box-->
<div class="logo_box">
    <div class="pub">
        <a href="/index/" title="河南尚康食品有限公司" class="logo fl">
            <img src="/static/img/20170418182914q51MNm.png" alt=""> </a>
        <ul class="mainnav fr">
            <li><a href="/index/" title="河南尚康食品有限公司" >首&nbsp;页</a></li>
            <li><a href="/yuebing/">月饼系列</a></li>
            <li><a href="/dangao/">果粒蛋糕</a></li>
            <li><a href="/zongzi/" class="nav_act">粽子系列</a>  </li>
            <li><a href="/join/">加盟合作</a>  </li>
            <li><a href="/about/">关于尚康</a>  </li>
            <li><a href="/news/">新闻资讯</a>  </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
<!--导航-->
<div class="cp_banner">
    <script  src="/static/js/39.js"></script>
</div>

<div class="city_box" style="">
    <div class="pub">
        <div class="dizhifenlei pub">
            <div class="changyongchengshi">
                <span class="Cy-li">常用城市：</span>
                <ul>

                    <li><a href="http://beijing.shangkangshipin.com">北京</a></li>

                    <li><a href="http://chengdu.shangkangshipin.com">成都</a></li>

                    <li><a href="http://dalian.shangkangshipin.com">大连</a></li>

                    <li><a href="http://guangzhou.shangkangshipin.com">广州</a></li>

                    <li><a href="http://tianjin.shangkangshipin.com">天津</a></li>

                    <li><a href="http://zhengzhou.shangkangshipin.com">郑州</a></li>
                </ul>
            </div>
            <div class="pinyinxuanzhe">
                <div class="zimuxuanze">
                    <img src="http://www.shangkangshipin.com/res/sksp/sk/images/anpinyin.jpg" width="148" height="38">
                </div>
                <ul class="Azimu">

                    <li>
				                <span href="#">
				                    <ul class="Azimu-hover">
				                        <li><a href="#" class="li-A" style="">A</a></li>

				                        	<li><a href="http://aba.shangkangshipin.com">阿坝</a></li>

				                        	<li><a href="http://aks.shangkangshipin.com">阿克苏</a></li>

				                        	<li><a href="http://ale.shangkangshipin.com">阿拉尔</a></li>

				                        	<li><a href="http://alsm.shangkangshipin.com">阿拉善盟</a></li>

				                        	<li><a href="http://alt.shangkangshipin.com">阿勒泰</a></li>

				                        	<li><a href="http://ali.shangkangshipin.com">阿里</a></li>

				                        	<li><a href="http://ankang.shangkangshipin.com">安康</a></li>

				                        	<li><a href="http://anqing.shangkangshipin.com">安庆</a></li>

				                        	<li><a href="http://anshun.shangkangshipin.com">安顺</a></li>

				                        	<li><a href="http://anyang.shangkangshipin.com">安阳</a></li>

				                        	<li><a href="http://anshan.shangkangshipin.com">鞍山</a></li>
				                        				            			<div class="clearfix"></div>
				                    </ul>
				                </span>
                    </li>

                    <li>
				                <span href="#">
				                    <ul class="Azimu-hover">
				                        <li><a href="#" class="li-A" style="">B</a></li>

				                        	<li><a href="http://bayzes.shangkangshipin.com">巴彦卓尔市</a></li>

				                        	<li><a href="http://baygl.shangkangshipin.com">巴音郭楞</a></li>

				                        	<li><a href="http://bazhong.shangkangshipin.com">巴中</a></li>

				                        	<li><a href="http://baicheng.shangkangshipin.com">白城</a></li>

				                        	<li><a href="http://baisha.shangkangshipin.com">白沙</a></li>

				                        	<li><a href="http://baishan.shangkangshipin.com">白山</a></li>

				                        	<li><a href="http://baiyin.shangkangshipin.com">白银</a></li>

				                        	<li><a href="http://baise.shangkangshipin.com">百色</a></li>

				                        	<li><a href="http://bengbu.shangkangshipin.com">蚌埠</a></li>

				                        	<li><a href="http://baotou.shangkangshipin.com">包头</a></li>

				                        	<li><a href="http://baoji.shangkangshipin.com">宝鸡</a></li>

				                        	<li><a href="http://baoding.shangkangshipin.com">保定</a></li>

				                        	<li><a href="http://baoshan.shangkangshipin.com">保山</a></li>

				                        	<li><a href="http://baoting.shangkangshipin.com">保亭</a></li>

				                        	<li><a href="http://beihai.shangkangshipin.com">北海</a></li>

				                        	<li><a href="http://beijing.shangkangshipin.com">北京</a></li>

				                        	<li><a href="http://benxi.shangkangshipin.com">本溪</a></li>

				                        	<li><a href="http://bijie.shangkangshipin.com">毕节</a></li>

				                        	<li><a href="http://binzhou.shangkangshipin.com">彬州</a></li>

				                        	<li><a href="http://sbinzhou.shangkangshipin.com">滨州</a></li>

				                        	<li><a href="http://bozhou.shangkangshipin.com">亳州</a></li>

				                        	<li><a href="http://boetl.shangkangshipin.com">博尔塔拉</a></li>

				                        	<li><a href="http://boluo.shangkangshipin.com">博罗</a></li>
				                        				            			<div class="clearfix"></div>
				                    </ul>
				                </span>
                    </li>

                    <li>
				                <span href="#">
				                    <ul class="Azimu-hover">
				                        <li><a href="#" class="li-A" style="">C</a></li>

				                        	<li><a href="http://cangzhou.shangkangshipin.com">沧州</a></li>

				                        	<li><a href="http://changdu.shangkangshipin.com">昌都</a></li>

				                        	<li><a href="http://changji.shangkangshipin.com">昌吉</a></li>

				                        	<li><a href="http://changchun.shangkangshipin.com">长春</a></li>

				                        	<li><a href="http://changge.shangkangshipin.com">长葛</a></li>

				                        	<li><a href="http://changsha.shangkangshipin.com">长沙</a></li>

				                        	<li><a href="http://changxing.shangkangshipin.com">长兴</a></li>

				                        	<li><a href="http://changzhi.shangkangshipin.com">长治</a></li>

				                        	<li><a href="http://changde.shangkangshipin.com">常德</a></li>

				                        	<li><a href="http://changzhou.shangkangshipin.com">常州</a></li>

				                        	<li><a href="http://chaohu.shangkangshipin.com">巢湖</a></li>

				                        	<li><a href="http://zhaoyang.shangkangshipin.com">朝阳</a></li>

				                        	<li><a href="http://chengdu.shangkangshipin.com">成都</a></li>

				                        	<li><a href="http://chengde.shangkangshipin.com">承德</a></li>

				                        	<li><a href="http://chengmai.shangkangshipin.com">澄迈</a></li>

				                        	<li><a href="http://chizhou.shangkangshipin.com">池州</a></li>

				                        	<li><a href="http://chifeng.shangkangshipin.com">赤峰</a></li>

				                        	<li><a href="http://chongzuo.shangkangshipin.com">崇左</a></li>

				                        	<li><a href="http://chuzhou.shangkangshipin.com">滁州</a></li>

				                        	<li><a href="http://chuxiong.shangkangshipin.com">楚雄</a></li>

				                        	<li><a href="http://cixi.shangkangshipin.com">慈溪</a></li>
				                        				            			<div class="clearfix"></div>
				                    </ul>
				                </span>
                    </li>

                    <li>
				                <span href="#">
				                    <ul class="Azimu-hover">
				                        <li><a href="#" class="li-A" style="">D</a></li>

				                        	<li><a href="http://dazhou.shangkangshipin.com">达州</a></li>

				                        	<li><a href="http://dafeng.shangkangshipin.com">大丰</a></li>

				                        	<li><a href="http://dali.shangkangshipin.com">大理</a></li>

				                        	<li><a href="http://dalian.shangkangshipin.com">大连</a></li>

				                        	<li><a href="http://daqing.shangkangshipin.com">大庆</a></li>

				                        	<li><a href="http://datong.shangkangshipin.com">大同</a></li>

				                        	<li><a href="http://daxal.shangkangshipin.com">大兴安岭</a></li>

				                        	<li><a href="http://dandong.shangkangshipin.com">丹东</a></li>

				                        	<li><a href="http://danyang.shangkangshipin.com">丹阳</a></li>

				                        	<li><a href="http://danzhou.shangkangshipin.com">儋州</a></li>

				                        	<li><a href="http://dehong.shangkangshipin.com">德宏</a></li>

				                        	<li><a href="http://deqing.shangkangshipin.com">德清</a></li>

				                        	<li><a href="http://deyang.shangkangshipin.com">德阳</a></li>

				                        	<li><a href="http://dezhou.shangkangshipin.com">德州</a></li>

				                        	<li><a href="http://diqing.shangkangshipin.com">迪庆</a></li>

				                        	<li><a href="http://dingan.shangkangshipin.com">定安</a></li>

				                        	<li><a href="http://dingxi.shangkangshipin.com">定西</a></li>

				                        	<li><a href="http://dingzhou.shangkangshipin.com">定州</a></li>

				                        	<li><a href="http://dongfang.shangkangshipin.com">东方</a></li>

				                        	<li><a href="http://donghai.shangkangshipin.com">东海</a></li>

				                        	<li><a href="http://dongtai.shangkangshipin.com">东台</a></li>

				                        	<li><a href="http://dongguan.shangkangshipin.com">东莞</a></li>

				                        	<li><a href="http://dongyang.shangkangshipin.com">东阳</a></li>

				                        	<li><a href="http://dongying.shangkangshipin.com">东营</a></li>
				                        				            			<div class="clearfix"></div>
				                    </ul>
				                </span>
                    </li>

                    <li>
				                <span href="#">
				                    <ul class="Azimu-hover">
				                        <li><a href="#" class="li-A" style="">E</a></li>

				                        	<li><a href="http://eerduosi.shangkangshipin.com">鄂尔多斯</a></li>

				                        	<li><a href="http://eling.shangkangshipin.com">鄂陵</a></li>

				                        	<li><a href="http://ezhou.shangkangshipin.com">鄂州</a></li>

				                        	<li><a href="http://enshi.shangkangshipin.com">恩施</a></li>
				                        				            			<div class="clearfix"></div>
				                    </ul>
				                </span>
                    </li>

                    <li>
				                <span href="#">
				                    <ul class="Azimu-hover">
				                        <li><a href="#" class="li-A" style="">F</a></li>

				                        	<li><a href="http://fangcgs.shangkangshipin.com">防城港市</a></li>

				                        	<li><a href="http://foshan.shangkangshipin.com">佛山</a></li>

				                        	<li><a href="http://fuzhou.shangkangshipin.com">福州</a></li>

				                        	<li><a href="http://fushun.shangkangshipin.com">抚顺</a></li>

				                        	<li><a href="http://jxfuzhou.shangkangshipin.com">抚州</a></li>

				                        	<li><a href="http://fuxin.shangkangshipin.com">阜新</a></li>

				                        	<li><a href="http://fuyang.shangkangshipin.com">阜阳</a></li>

				                        	<li><a href="http://putian.shangkangshipin.com">莆田</a></li>
				                        				            			<div class="clearfix"></div>
				                    </ul>
				                </span>
                    </li>

                    <li>
				                <span href="#">
				                    <ul class="Azimu-hover">
				                        <li><a href="#" class="li-A" style="">G</a></li>

				                        	<li><a href="http://gaize.shangkangshipin.com">改则</a></li>

				                        	<li><a href="http://gannan.shangkangshipin.com">甘南</a></li>

				                        	<li><a href="http://ganzi.shangkangshipin.com">甘孜</a></li>

				                        	<li><a href="http://ganzhou.shangkangshipin.com">赣州</a></li>

				                        	<li><a href="http://guyuan.shangkangshipin.com">固原</a></li>

				                        	<li><a href="http://guantao.shangkangshipin.com">馆陶</a></li>

				                        	<li><a href="http://guangan.shangkangshipin.com">广安</a></li>

				                        	<li><a href="http://guangyuan.shangkangshipin.com">广元</a></li>

				                        	<li><a href="http://guangzhou.shangkangshipin.com">广州</a></li>

				                        	<li><a href="http://guigang.shangkangshipin.com">贵港</a></li>

				                        	<li><a href="http://guiyang.shangkangshipin.com">贵阳</a></li>

				                        	<li><a href="http://guilin.shangkangshipin.com">桂林</a></li>

				                        	<li><a href="http://guoluo.shangkangshipin.com">果洛</a></li>
				                        				            			<div class="clearfix"></div>
				                    </ul>
				                </span>
                    </li>

                    <li>
				                <span href="#">
				                    <ul class="Azimu-hover">
				                        <li><a href="#" class="li-A" style="">H</a></li>

				                        	<li><a href="http://haerbin.shangkangshipin.com">哈尔滨</a></li>

				                        	<li><a href="http://hami.shangkangshipin.com">哈密</a></li>

				                        	<li><a href="http://haian.shangkangshipin.com">海安</a></li>

				                        	<li><a href="http://haibei.shangkangshipin.com">海北</a></li>

				                        	<li><a href="http://haidong.shangkangshipin.com">海东</a></li>

				                        	<li><a href="http://haikou.shangkangshipin.com">海口</a></li>

				                        	<li><a href="http://haile.shangkangshipin.com">海拉尔</a></li>

				                        	<li><a href="http://haimen.shangkangshipin.com">海门</a></li>

				                        	<li><a href="http://hainan.shangkangshipin.com">海南</a></li>

				                        	<li><a href="http://haining.shangkangshipin.com">海宁</a></li>

				                        	<li><a href="http://haixi.shangkangshipin.com">海西</a></li>

				                        	<li><a href="http://handan.shangkangshipin.com">邯郸</a></li>

				                        	<li><a href="http://hanzhong.shangkangshipin.com">汉中</a></li>

				                        	<li><a href="http://hangzhou.shangkangshipin.com">杭州</a></li>

				                        	<li><a href="http://hehui.shangkangshipin.com">合肥</a></li>

				                        	<li><a href="http://hetian.shangkangshipin.com">和田</a></li>

				                        	<li><a href="http://hexian.shangkangshipin.com">和县</a></li>

				                        	<li><a href="http://hechi.shangkangshipin.com">河池</a></li>

				                        	<li><a href="http://heyuan.shangkangshipin.com">河源</a></li>

				                        	<li><a href="http://heze.shangkangshipin.com">菏泽</a></li>

				                        	<li><a href="http://hezhou.shangkangshipin.com">贺州</a></li>

				                        	<li><a href="http://hebi.shangkangshipin.com">鹤壁</a></li>

				                        	<li><a href="http://hegang.shangkangshipin.com">鹤岗</a></li>

				                        	<li><a href="http://heihe.shangkangshipin.com">黑河</a></li>

				                        	<li><a href="http://hengshui.shangkangshipin.com">衡水</a></li>

				                        	<li><a href="http://hengyang.shangkangshipin.com">衡阳</a></li>

				                        	<li><a href="http://honghe.shangkangshipin.com">红河</a></li>

				                        	<li><a href="http://huhehaote.shangkangshipin.com">呼和浩特</a></li>

				                        	<li><a href="http://hulbe.shangkangshipin.com">呼伦贝尔</a></li>

				                        	<li><a href="http://huzhou.shangkangshipin.com">湖州</a></li>

				                        	<li><a href="http://huld.shangkangshipin.com">葫芦岛</a></li>

				                        	<li><a href="http://huaihua.shangkangshipin.com">怀化</a></li>

				                        	<li><a href="http://huaian.shangkangshipin.com">淮安</a></li>

				                        	<li><a href="http://huaibei.shangkangshipin.com">淮北</a></li>

				                        	<li><a href="http://huainan.shangkangshipin.com">淮南</a></li>

				                        	<li><a href="http://huanggang.shangkangshipin.com">黄冈</a></li>

				                        	<li><a href="http://huangnan.shangkangshipin.com">黄南</a></li>

				                        	<li><a href="http://huangshan.shangkangshipin.com">黄山</a></li>

				                        	<li><a href="http://huangshi.shangkangshipin.com">黄石</a></li>

				                        	<li><a href="http://huidong.shangkangshipin.com">惠东</a></li>

				                        	<li><a href="http://huizhou.shangkangshipin.com">惠州</a></li>

				                        	<li><a href="http://huoqiu.shangkangshipin.com">霍邱</a></li>
				                        				            			<div class="clearfix"></div>
				                    </ul>
				                </span>
                    </li>

                    <li>
				                <span href="#">
				                    <ul class="Azimu-hover">
				                        <li><a href="#" class="li-A" style="">J</a></li>

				                        	<li><a href="http://jixi.shangkangshipin.com">鸡西</a></li>

				                        	<li><a href="http://jilong.shangkangshipin.com">基隆</a></li>

				                        	<li><a href="http://jian.shangkangshipin.com">吉安</a></li>

				                        	<li><a href="http://jilin.shangkangshipin.com">吉林</a></li>

				                        	<li><a href="http://jinan.shangkangshipin.com">济南</a></li>

				                        	<li><a href="http://jining.shangkangshipin.com">济宁</a></li>

				                        	<li><a href="http://jiyuan.shangkangshipin.com">济源</a></li>

				                        	<li><a href="http://jiams.shangkangshipin.com">佳木斯</a></li>

				                        	<li><a href="http://jiashan.shangkangshipin.com">嘉善</a></li>

				                        	<li><a href="http://jiaxing.shangkangshipin.com">嘉兴</a></li>

				                        	<li><a href="http://jiayi.shangkangshipin.com">嘉义</a></li>

				                        	<li><a href="http://jiayg.shangkangshipin.com">嘉峪关</a></li>

				                        	<li><a href="http://jianhu.shangkangshipin.com">建湖</a></li>

				                        	<li><a href="http://jiangmen.shangkangshipin.com">江门</a></li>

				                        	<li><a href="http://jiangyin.shangkangshipin.com">江阴</a></li>

				                        	<li><a href="http://jiaozuo.shangkangshipin.com">焦作</a></li>

				                        	<li><a href="http://jieyang.shangkangshipin.com">揭阳</a></li>

				                        	<li><a href="http://jinchang.shangkangshipin.com">金昌</a></li>

				                        	<li><a href="http://jinhua.shangkangshipin.com">金华</a></li>

				                        	<li><a href="http://jinzhou.shangkangshipin.com">锦州</a></li>

				                        	<li><a href="http://jincheng.shangkangshipin.com">晋城</a></li>

				                        	<li><a href="http://jinjiang.shangkangshipin.com">晋江</a></li>

				                        	<li><a href="http://jinzhong.shangkangshipin.com">晋中</a></li>

				                        	<li><a href="http://jingmen.shangkangshipin.com">荆门</a></li>

				                        	<li><a href="http://jingzhou.shangkangshipin.com">荆州</a></li>

				                        	<li><a href="http://jingdz.shangkangshipin.com">景德镇</a></li>

				                        	<li><a href="http://jingjiang.shangkangshipin.com">靖江</a></li>

				                        	<li><a href="http://jiujiang.shangkangshipin.com">九江</a></li>

				                        	<li><a href="http://jiuquan.shangkangshipin.com">酒泉</a></li>
				                        				            			<div class="clearfix"></div>
				                    </ul>
				                </span>
                    </li>

                    <li>
				                <span href="#">
				                    <ul class="Azimu-hover">
				                        <li><a href="#" class="li-A" style="">K</a></li>

				                        	<li><a href="http://kashi.shangkangshipin.com">喀什</a></li>

				                        	<li><a href="http://kaifeng.shangkangshipin.com">开封</a></li>

				                        	<li><a href="http://kelmy.shangkangshipin.com">克拉玛依</a></li>

				                        	<li><a href="http://kezls.shangkangshipin.com">克孜勒苏</a></li>

				                        	<li><a href="http://kenli.shangkangshipin.com">垦利</a></li>

				                        	<li><a href="http://kuel.shangkangshipin.com">库尔勒</a></li>

				                        	<li><a href="http://kunming.shangkangshipin.com">昆明</a></li>

				                        	<li><a href="http://kunshan.shangkangshipin.com">昆山</a></li>
				                        				            			<div class="clearfix"></div>
				                    </ul>
				                </span>
                    </li>

                    <li>
				                <span href="#">
				                    <ul class="Azimu-hover">
				                        <li><a href="#" class="li-A" style="">L</a></li>

				                        	<li><a href="http://lasa.shangkangshipin.com">拉萨</a></li>

				                        	<li><a href="http://laibin.shangkangshipin.com">来宾</a></li>

				                        	<li><a href="http://laiwu.shangkangshipin.com">莱芜</a></li>

				                        	<li><a href="http://lanzhou.shangkangshipin.com">兰州</a></li>

				                        	<li><a href="http://langfang.shangkangshipin.com">廊坊</a></li>

				                        	<li><a href="http://leqing.shangkangshipin.com">乐清</a></li>

				                        	<li><a href="http://leshan.shangkangshipin.com">乐山</a></li>

				                        	<li><a href="http://lijiang.shangkangshipin.com">丽江</a></li>

				                        	<li><a href="http://lishui.shangkangshipin.com">丽水</a></li>

				                        	<li><a href="http://liyang.shangkangshipin.com">溧阳</a></li>

				                        	<li><a href="http://lianyg.shangkangshipin.com">连云港</a></li>

				                        	<li><a href="http://liangshan.shangkangshipin.com">凉山</a></li>

				                        	<li><a href="http://liaoyang.shangkangshipin.com">辽阳</a></li>

				                        	<li><a href="http://liaoyuan.shangkangshipin.com">辽源</a></li>

				                        	<li><a href="http://liaocheng.shangkangshipin.com">聊城</a></li>

				                        	<li><a href="http://linzhi.shangkangshipin.com">林芝</a></li>

				                        	<li><a href="http://lincang.shangkangshipin.com">临沧</a></li>

				                        	<li><a href="http://linfen.shangkangshipin.com">临汾</a></li>

				                        	<li><a href="http://linxia.shangkangshipin.com">临夏</a></li>

				                        	<li><a href="http://linyi.shangkangshipin.com">临猗</a></li>

				                        	<li><a href="http://linyin.shangkangshipin.com">临沂</a></li>

				                        	<li><a href="http://lingshui.shangkangshipin.com">陵水</a></li>

				                        	<li><a href="http://liuzhou.shangkangshipin.com">柳州</a></li>

				                        	<li><a href="http://liuan.shangkangshipin.com">六安</a></li>

				                        	<li><a href="http://liups.shangkangshipin.com">六盘水</a></li>

				                        	<li><a href="http://longkou.shangkangshipin.com">龙口</a></li>

				                        	<li><a href="http://longyan.shangkangshipin.com">龙岩</a></li>

				                        	<li><a href="http://longnan.shangkangshipin.com">陇南</a></li>

				                        	<li><a href="http://loudi.shangkangshipin.com">娄底</a></li>

				                        	<li><a href="http://luzhou.shangkangshipin.com">泸州</a></li>

				                        	<li><a href="http://lvliang.shangkangshipin.com">吕梁</a></li>

				                        	<li><a href="http://luoyang.shangkangshipin.com">洛阳</a></li>

				                        	<li><a href="http://luohe.shangkangshipin.com">漯河</a></li>
				                        				            			<div class="clearfix"></div>
				                    </ul>
				                </span>
                    </li>

                    <li>
				                <span href="#">
				                    <ul class="Azimu-hover">
				                        <li><a href="#" class="li-A" style="">M</a></li>

				                        	<li><a href="http://maas.shangkangshipin.com">马鞍山</a></li>

				                        	<li><a href="http://maoming.shangkangshipin.com">茂名</a></li>

				                        	<li><a href="http://meishan.shangkangshipin.com">眉山</a></li>

				                        	<li><a href="http://meizhou.shangkangshipin.com">梅州</a></li>

				                        	<li><a href="http://mianyang.shangkangshipin.com">绵阳</a></li>

				                        	<li><a href="http://minggang.shangkangshipin.com">明港</a></li>

				                        	<li><a href="http://mudj.shangkangshipin.com">牡丹江</a></li>
				                        				            			<div class="clearfix"></div>
				                    </ul>
				                </span>
                    </li>

                    <li>
				                <span href="#">
				                    <ul class="Azimu-hover">
				                        <li><a href="#" class="li-A" style="">N</a></li>

				                        	<li><a href="http://neijiang.shangkangshipin.com">内江</a></li>

				                        	<li><a href="http://naqu.shangkangshipin.com">那曲</a></li>

				                        	<li><a href="http://nanan.shangkangshipin.com">南安</a></li>

				                        	<li><a href="http://nanchang.shangkangshipin.com">南昌</a></li>

				                        	<li><a href="http://nanchong.shangkangshipin.com">南充</a></li>

				                        	<li><a href="http://nanjing.shangkangshipin.com">南京</a></li>

				                        	<li><a href="http://nanning.shangkangshipin.com">南宁</a></li>

				                        	<li><a href="http://nanping.shangkangshipin.com">南平</a></li>

				                        	<li><a href="http://nantong.shangkangshipin.com">南通</a></li>

				                        	<li><a href="http://nanyang.shangkangshipin.com">南阳</a></li>

				                        	<li><a href="http://ningbo.shangkangshipin.com">宁波</a></li>

				                        	<li><a href="http://ningde.shangkangshipin.com">宁德</a></li>

				                        	<li><a href="http://ningguo.shangkangshipin.com">宁国</a></li>

				                        	<li><a href="http://nujiang.shangkangshipin.com">怒江</a></li>
				                        				            			<div class="clearfix"></div>
				                    </ul>
				                </span>
                    </li>

                    <li>
				                <span href="#">
				                    <ul class="Azimu-hover">
				                        <li><a href="#" class="li-A" style="">P</a></li>

				                        	<li><a href="http://panzhihua.shangkangshipin.com">攀枝花</a></li>

				                        	<li><a href="http://panzh.shangkangshipin.com">攀枝花</a></li>

				                        	<li><a href="http://panjin.shangkangshipin.com">盘锦</a></li>

				                        	<li><a href="http://peixian.shangkangshipin.com">沛县</a></li>

				                        	<li><a href="http://pizhou.shangkangshipin.com">邳州</a></li>

				                        	<li><a href="http://pingdingshan.shangkangshipin.com">平顶山</a></li>

				                        	<li><a href="http://pingjing.shangkangshipin.com">平京</a></li>

				                        	<li><a href="http://pingxiang.shangkangshipin.com">萍乡</a></li>

				                        	<li><a href="http://puyang.shangkangshipin.com">濮阳</a></li>

				                        	<li><a href="http://puer.shangkangshipin.com">普洱</a></li>
				                        				            			<div class="clearfix"></div>
				                    </ul>
				                </span>
                    </li>

                    <li>
				                <span href="#">
				                    <ul class="Azimu-hover">
				                        <li><a href="#" class="li-A" style="">Q</a></li>

				                        	<li><a href="http://qith.shangkangshipin.com">七台河</a></li>

				                        	<li><a href="http://qiqhe.shangkangshipin.com">齐齐哈尔</a></li>

				                        	<li><a href="http://qidong.shangkangshipin.com">启东</a></li>

				                        	<li><a href="http://qianjiang.shangkangshipin.com">潜江</a></li>

				                        	<li><a href="http://qiandn.shangkangshipin.com">黔东南</a></li>

				                        	<li><a href="http://qiannan.shangkangshipin.com">黔南</a></li>

				                        	<li><a href="http://qianxn.shangkangshipin.com">黔西南</a></li>

				                        	<li><a href="http://qinzhou.shangkangshipin.com">钦州</a></li>

				                        	<li><a href="http://qinhd.shangkangshipin.com">秦皇岛</a></li>

				                        	<li><a href="http://qingdao.shangkangshipin.com">青岛</a></li>

				                        	<li><a href="http://qingxu.shangkangshipin.com">清徐</a></li>

				                        	<li><a href="http://qingyuan.shangkangshipin.com">清远</a></li>

				                        	<li><a href="http://qingyang.shangkangshipin.com">庆阳</a></li>

				                        	<li><a href="http://qionghai.shangkangshipin.com">琼海</a></li>

				                        	<li><a href="http://qiongzhong.shangkangshipin.com">琼中</a></li>

				                        	<li><a href="http://quqing.shangkangshipin.com">曲清</a></li>

				                        	<li><a href="http://quzhou.shangkangshipin.com">衢州</a></li>

				                        	<li><a href="http://wwww.shangkangshipin.com">全国</a></li>

				                        	<li><a href="http://quanzhou.shangkangshipin.com">泉州</a></li>
				                        				            			<div class="clearfix"></div>
				                    </ul>
				                </span>
                    </li>

                    <li>
				                <span href="#">
				                    <ul class="Azimu-hover">
				                        <li><a href="#" class="li-A" style="">R</a></li>

				                        	<li><a href="http://rikz.shangkangshipin.com">日喀则</a></li>

				                        	<li><a href="http://ritu.shangkangshipin.com">日土</a></li>

				                        	<li><a href="http://rizhao.shangkangshipin.com">日照</a></li>

				                        	<li><a href="http://rudong.shangkangshipin.com">如东</a></li>

				                        	<li><a href="http://rugao.shangkangshipin.com">如皋</a></li>

				                        	<li><a href="http://ruian.shangkangshipin.com">瑞安</a></li>
				                        				            			<div class="clearfix"></div>
				                    </ul>
				                </span>
                    </li>

                    <li>
				                <span href="#">
				                    <ul class="Azimu-hover">
				                        <li><a href="#" class="li-A" style="">S</a></li>

				                        	<li><a href="http://sanmenxia.shangkangshipin.com">三门峡</a></li>

				                        	<li><a href="http://sanming.shangkangshipin.com">三明</a></li>

				                        	<li><a href="http://sansha.shangkangshipin.com">三沙</a></li>

				                        	<li><a href="http://sanya.shangkangshipin.com">三亚</a></li>

				                        	<li><a href="http://shannan.shangkangshipin.com">山南</a></li>

				                        	<li><a href="http://shantou.shangkangshipin.com">汕头</a></li>

				                        	<li><a href="http://shanwei.shangkangshipin.com">汕尾</a></li>

				                        	<li><a href="http://shangluo.shangkangshipin.com">商洛</a></li>

				                        	<li><a href="http://shangqiu.shangkangshipin.com">商丘</a></li>

				                        	<li><a href="http://shanghai.shangkangshipin.com">上海</a></li>

				                        	<li><a href="http://shangrao.shangkangshipin.com">上饶</a></li>

				                        	<li><a href="http://shaoguan.shangkangshipin.com">韶关</a></li>

				                        	<li><a href="http://shaotong.shangkangshipin.com">邵通</a></li>

				                        	<li><a href="http://shaoyang.shangkangshipin.com">邵阳</a></li>

				                        	<li><a href="http://shaoxing.shangkangshipin.com">绍兴</a></li>

				                        	<li><a href="http://shenzhen.shangkangshipin.com">深圳</a></li>

				                        	<li><a href="http://shennj.shangkangshipin.com">神农架</a></li>

				                        	<li><a href="http://shenyang.shangkangshipin.com">沈阳</a></li>

				                        	<li><a href="http://shiyan.shangkangshipin.com">十堰</a></li>

				                        	<li><a href="http://shihz.shangkangshipin.com">石河子</a></li>

				                        	<li><a href="http://shijiazhuang.shangkangshipin.com">石家庄</a></li>

				                        	<li><a href="http://shishi.shangkangshipin.com">石狮</a></li>

				                        	<li><a href="http://shizuishan.shangkangshipin.com">石嘴山</a></li>

				                        	<li><a href="http://shouguang.shangkangshipin.com">寿光</a></li>

				                        	<li><a href="http://shuyang.shangkangshipin.com">沭阳</a></li>

				                        	<li><a href="http://shuangys.shangkangshipin.com">双鸭山</a></li>

				                        	<li><a href="http://shunde.shangkangshipin.com">顺德</a></li>

				                        	<li><a href="http://shuozhou.shangkangshipin.com">朔州</a></li>

				                        	<li><a href="http://siping.shangkangshipin.com">四平</a></li>

				                        	<li><a href="http://songyuan.shangkangshipin.com">松原</a></li>

				                        	<li><a href="http://jssuzhou.shangkangshipin.com">苏州</a></li>

				                        	<li><a href="http://suqian.shangkangshipin.com">宿迁</a></li>

				                        	<li><a href="http://suzhou.shangkangshipin.com">宿州</a></li>

				                        	<li><a href="http://suihua.shangkangshipin.com">绥化</a></li>

				                        	<li><a href="http://suizhou.shangkangshipin.com">随州</a></li>

				                        	<li><a href="http://suining.shangkangshipin.com">遂宁</a></li>

				                        	<li><a href="http://xiamen.shangkangshipin.com">厦门</a></li>
				                        				            			<div class="clearfix"></div>
				                    </ul>
				                </span>
                    </li>

                    <li>
				                <span href="#">
				                    <ul class="Azimu-hover">
				                        <li><a href="#" class="li-A" style="">T</a></li>

				                        	<li><a href="http://tacheng.shangkangshipin.com">塔城</a></li>

				                        	<li><a href="http://tainan.shangkangshipin.com">台南</a></li>

				                        	<li><a href="http://taishan.shangkangshipin.com">台山</a></li>

				                        	<li><a href="http://taizhong.shangkangshipin.com">台中</a></li>

				                        	<li><a href="http://taizhou.shangkangshipin.com">台州</a></li>

				                        	<li><a href="http://taiyuan.shangkangshipin.com">太原</a></li>

				                        	<li><a href="http://taian.shangkangshipin.com">泰安</a></li>

				                        	<li><a href="http://taixing.shangkangshipin.com">泰兴</a></li>

				                        	<li><a href="http://taizhouz.shangkangshipin.com">泰州</a></li>

				                        	<li><a href="http://tangshan.shangkangshipin.com">唐山</a></li>

				                        	<li><a href="http://tianchang.shangkangshipin.com">天长</a></li>

				                        	<li><a href="http://tianjin.shangkangshipin.com">天津</a></li>

				                        	<li><a href="http://tianmen.shangkangshipin.com">天门</a></li>

				                        	<li><a href="http://tianshui.shangkangshipin.com">天水</a></li>

				                        	<li><a href="http://tieling.shangkangshipin.com">铁岭</a></li>

				                        	<li><a href="http://tonghua.shangkangshipin.com">通化</a></li>

				                        	<li><a href="http://tongliao.shangkangshipin.com">通辽</a></li>

				                        	<li><a href="http://tongcheng.shangkangshipin.com">桐城</a></li>

				                        	<li><a href="http://tongxiang.shangkangshipin.com">桐乡</a></li>

				                        	<li><a href="http://tongchuan.shangkangshipin.com">铜川</a></li>

				                        	<li><a href="http://tongling.shangkangshipin.com">铜陵</a></li>

				                        	<li><a href="http://tongren.shangkangshipin.com">铜仁</a></li>

				                        	<li><a href="http://tumsk.shangkangshipin.com">图木舒克</a></li>

				                        	<li><a href="http://tulf.shangkangshipin.com">吐鲁番</a></li>

				                        	<li><a href="http://tunchang.shangkangshipin.com">屯昌</a></li>
				                        				            			<div class="clearfix"></div>
				                    </ul>
				                </span>
                    </li>

                    <li>
				                <span href="#">
				                    <ul class="Azimu-hover">
				                        <li><a href="#" class="li-A" style="">W</a></li>

				                        	<li><a href="http://wuafd.shangkangshipin.com">瓦房店</a></li>

				                        	<li><a href="http://wanning.shangkangshipin.com">万宁</a></li>

				                        	<li><a href="http://weifang.shangkangshipin.com">潍坊</a></li>

				                        	<li><a href="http://weinan.shangkangshipin.com">渭南</a></li>

				                        	<li><a href="http://wenling.shangkangshipin.com">温岭</a></li>

				                        	<li><a href="http://wenzhou.shangkangshipin.com">温州</a></li>

				                        	<li><a href="http://wenchang.shangkangshipin.com">文昌</a></li>

				                        	<li><a href="http://wenshan.shangkangshipin.com">文山</a></li>

				                        	<li><a href="http://wuhai.shangkangshipin.com">乌海</a></li>

				                        	<li><a href="http://wulcs.shangkangshipin.com">乌兰察市</a></li>

				                        	<li><a href="http://wulumuqi.shangkangshipin.com">乌鲁木齐</a></li>

				                        	<li><a href="http://wuxi.shangkangshipin.com">无锡</a></li>

				                        	<li><a href="http://wuzhong.shangkangshipin.com">吴忠</a></li>

				                        	<li><a href="http://wuhu.shangkangshipin.com">芜湖</a></li>

				                        	<li><a href="http://wuzhou.shangkangshipin.com">梧州</a></li>

				                        	<li><a href="http://wujq.shangkangshipin.com">五家渠</a></li>

				                        	<li><a href="http://wuzs.shangkangshipin.com">五指山</a></li>

				                        	<li><a href="http://wuhan.shangkangshipin.com">武汉</a></li>

				                        	<li><a href="http://wuwei.shangkangshipin.com">武威</a></li>

				                        	<li><a href="http://wuys.shangkangshipin.com">武夷山</a></li>
				                        				            			<div class="clearfix"></div>
				                    </ul>
				                </span>
                    </li>

                    <li>
				                <span href="#">
				                    <ul class="Azimu-hover">
				                        <li><a href="#" class="li-A" style="">X</a></li>

				                        	<li><a href="http://xian.shangkangshipin.com">西安</a></li>

				                        	<li><a href="http://xining.shangkangshipin.com">西宁</a></li>

				                        	<li><a href="http://xisbn.shangkangshipin.com">西双版纳</a></li>

				                        	<li><a href="http://xilgl.shangkangshipin.com">锡林郭勒</a></li>

				                        	<li><a href="http://xiantao.shangkangshipin.com">仙桃</a></li>

				                        	<li><a href="http://xianhai.shangkangshipin.com">咸海</a></li>

				                        	<li><a href="http://xianning.shangkangshipin.com">咸宁</a></li>

				                        	<li><a href="http://xianyang.shangkangshipin.com">咸阳</a></li>

				                        	<li><a href="http://xiangtan.shangkangshipin.com">湘潭</a></li>

				                        	<li><a href="http://xiangxi.shangkangshipin.com">湘西</a></li>

				                        	<li><a href="http://xiangyang.shangkangshipin.com">襄阳</a></li>

				                        	<li><a href="http://xiangshan.shangkangshipin.com">象山</a></li>

				                        	<li><a href="http://xiaogan.shangkangshipin.com">孝感</a></li>

				                        	<li><a href="http://xinzhou.shangkangshipin.com">忻州</a></li>

				                        	<li><a href="http://xinxiang.shangkangshipin.com">新乡</a></li>

				                        	<li><a href="http://xinyi.shangkangshipin.com">新沂</a></li>

				                        	<li><a href="http://xinyu.shangkangshipin.com">新余</a></li>

				                        	<li><a href="http://xinzhu.shangkangshipin.com">新竹</a></li>

				                        	<li><a href="http://xinyang.shangkangshipin.com">信阳</a></li>

				                        	<li><a href="http://xingam.shangkangshipin.com">兴安盟</a></li>

				                        	<li><a href="http://xinghua.shangkangshipin.com">兴化</a></li>

				                        	<li><a href="http://xingtai.shangkangshipin.com">邢台</a></li>

				                        	<li><a href="http://xuzhou.shangkangshipin.com">徐州</a></li>

				                        	<li><a href="http://xuchang.shangkangshipin.com">许昌</a></li>

				                        	<li><a href="http://xuancheng.shangkangshipin.com">宣城</a></li>
				                        				            			<div class="clearfix"></div>
				                    </ul>
				                </span>
                    </li>

                    <li>
				                <span href="#">
				                    <ul class="Azimu-hover">
				                        <li><a href="#" class="li-A" style="">Y</a></li>

				                        	<li><a href="http://yaan.shangkangshipin.com">雅安</a></li>

				                        	<li><a href="http://yantai.shangkangshipin.com">烟台</a></li>

				                        	<li><a href="http://yanan.shangkangshipin.com">延安</a></li>

				                        	<li><a href="http://yanbian.shangkangshipin.com">延边</a></li>

				                        	<li><a href="http://yancheng.shangkangshipin.com">盐城</a></li>

				                        	<li><a href="http://yangzhong.shangkangshipin.com">扬中</a></li>

				                        	<li><a href="http://yangzhou.shangkangshipin.com">扬州</a></li>

				                        	<li><a href="http://yangchun.shangkangshipin.com">阳春</a></li>

				                        	<li><a href="http://yangjiang.shangkangshipin.com">阳江</a></li>

				                        	<li><a href="http://yangquan.shangkangshipin.com">阳泉</a></li>

				                        	<li><a href="http://yichun.shangkangshipin.com">伊春</a></li>

				                        	<li><a href="http://yili.shangkangshipin.com">伊犁</a></li>

				                        	<li><a href="http://yibin.shangkangshipin.com">宜宾</a></li>

				                        	<li><a href="http://yichang.shangkangshipin.com">宜昌</a></li>

				                        	<li><a href="http://jxyichun.shangkangshipin.com">宜春</a></li>

				                        	<li><a href="http://yidu.shangkangshipin.com">宜都</a></li>

				                        	<li><a href="http://yiwu.shangkangshipin.com">义乌</a></li>

				                        	<li><a href="http://yiyang.shangkangshipin.com">益阳</a></li>

				                        	<li><a href="http://yinchuan.shangkangshipin.com">银川</a></li>

				                        	<li><a href="http://yingtan.shangkangshipin.com">鹰潭</a></li>

				                        	<li><a href="http://yingkou.shangkangshipin.com">营口</a></li>

				                        	<li><a href="http://yongxin.shangkangshipin.com">永新</a></li>

				                        	<li><a href="http://yongzhou.shangkangshipin.com">永州</a></li>

				                        	<li><a href="http://yuyao.shangkangshipin.com">余姚</a></li>

				                        	<li><a href="http://sxyulin.shangkangshipin.com">榆林</a></li>

				                        	<li><a href="http://yuzhou.shangkangshipin.com">禹州</a></li>

				                        	<li><a href="http://yulin.shangkangshipin.com">玉林</a></li>

				                        	<li><a href="http://yushu.shangkangshipin.com">玉树</a></li>

				                        	<li><a href="http://yuxi.shangkangshipin.com">玉溪</a></li>

				                        	<li><a href="http://yueyang.shangkangshipin.com">岳阳</a></li>

				                        	<li><a href="http://yunfu.shangkangshipin.com">云浮</a></li>

				                        	<li><a href="http://yuncheng.shangkangshipin.com">运城</a></li>
				                        				            			<div class="clearfix"></div>
				                    </ul>
				                </span>
                    </li>

                    <li>
				                <span href="#">
				                    <ul class="Azimu-hover">
				                        <li><a href="#" class="li-A" style="">Z</a></li>

				                        	<li><a href="http://zaozhaung.shangkangshipin.com">枣庄</a></li>

				                        	<li><a href="http://zhanjiang.shangkangshipin.com">湛江</a></li>

				                        	<li><a href="http://zhangbei.shangkangshipin.com">张北</a></li>

				                        	<li><a href="http://zhangjiagang.shangkangshipin.com">张家港</a></li>

				                        	<li><a href="http://zhangjj.shangkangshipin.com">张家界</a></li>

				                        	<li><a href="http://zhangjk.shangkangshipin.com">张家口</a></li>

				                        	<li><a href="http://zhangye.shangkangshipin.com">张掖</a></li>

				                        	<li><a href="http://zhangqiu.shangkangshipin.com">章丘</a></li>

				                        	<li><a href="http://zhangzhou.shangkangshipin.com">漳州</a></li>

				                        	<li><a href="http://zhaoxian.shangkangshipin.com">赵县</a></li>

				                        	<li><a href="http://zhaoqing.shangkangshipin.com">肇庆</a></li>

				                        	<li><a href="http://zhenjiang.shangkangshipin.com">镇江</a></li>

				                        	<li><a href="http://zhengding.shangkangshipin.com">正定</a></li>

				                        	<li><a href="http://zhengzhou.shangkangshipin.com">郑州</a></li>

				                        	<li><a href="http://zhongshan.shangkangshipin.com">中山</a></li>

				                        	<li><a href="http://zhongwei.shangkangshipin.com">中卫</a></li>

				                        	<li><a href="http://chongqing.shangkangshipin.com">重庆</a></li>

				                        	<li><a href="http://zhoushan.shangkangshipin.com">舟山</a></li>

				                        	<li><a href="http://zhoukou.shangkangshipin.com">周口</a></li>

				                        	<li><a href="http://zhuzhou.shangkangshipin.com">株洲</a></li>

				                        	<li><a href="http://zhuhai.shangkangshipin.com">珠海</a></li>

				                        	<li><a href="http://zhucheng.shangkangshipin.com">诸城</a></li>

				                        	<li><a href="http://zhuji.shangkangshipin.com">诸暨</a></li>

				                        	<li><a href="http://zhumadian.shangkangshipin.com">驻马店</a></li>

				                        	<li><a href="http://zhuanghe.shangkangshipin.com">庄河</a></li>

				                        	<li><a href="http://ziyang.shangkangshipin.com">资阳</a></li>

				                        	<li><a href="http://zibo.shangkangshipin.com">淄博</a></li>

				                        	<li><a href="http://zigong.shangkangshipin.com">自贡</a></li>

				                        	<li><a href="http://zunyi.shangkangshipin.com">遵义</a></li>
				                        				            			<div class="clearfix"></div>
				                    </ul>
				                </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--footer B-->
{% include "foot.html" %}

</body>
</html>


