<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset=utf-8"utf-8">
    <title>关于尚康 - 尚康食品</title>
    <meta name="keywords" content="尚康介绍">
    <meta name="description" content="河南尚康食品有限公司始建于1985年12月,公司以加工面包和糕点为起点,历经近20多年的发展，现已发展成为河南省月饼食品加工行业中最大的一家行业龙头企业。公司主营尚康粽子、尚康月饼、尚康蛋糕，产品包装精美，口味丰富，批发价格优惠。海量食品资讯，实时更新,现全国范围内寻找合作伙伴.咨询电话：0379-67579191 ">
    <meta http-equiv="X-Frame-Options" content="deny">
    <link href="/static/css/base.css" type="text/css" rel="stylesheet">
    <link href="/static/css/style.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/jquery-1.12.1.js"></script>
</head>
<body>
<!--顶部-->

{% include "head.html" %}
<div class="logo_box">
    <div class="pub">
        <a href="/index/" title="河南尚康食品有限公司" class="logo fl">
        <img src="/static/img/20170418182914q51MNm.png" alt=""> </a>
        <ul class="mainnav fr">
            <li><a href="/index/" title="河南尚康食品有限公司" >首&nbsp;页</a></li>
            <li><a href="/yuebing/">月饼系列</a></li>
            <li><a href="/dangao/">果粒蛋糕</a></li>
            <li><a href="/zongzi/">粽子系列</a>  </li>
            <li><a href="/join/">加盟合作</a>  </li>
            <li><a href="/about/" class="nav_act">关于尚康</a>  </li>
            <li><a href="/news/">新闻资讯</a>  </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
<!--导航-->
<!--banner-->
<div class="banner_box">
    <script  src="/static/js/41.js"></script>
</div>
<!-- 内容 -->
<div class="about_bg pub">
    <div class="tabbox">
        <div class="tab fl">
            <a href="javascript:;" id="pppp">品牌故事</a>
            <a href="javascript:;" class="on">发展历程</a>
            <a href="javascript:;">企业文化</a>
            <a href="javascript:;">荣誉证书</a>
        </div>
        <div class="m_box fr">
            <ul>
                <!-- 品牌故事 -->
                <li>
                    <div class="about">
                        <div>
                            <p>&nbsp;</p>

                            <p><img alt="" src="/static/img/1495497671251821.jpg" style="width: 540px; height: 260px;" /></p>

                            <p>河南尚康食品有限公司始建于1985年12月。公司以加工面包和糕点为起点，历经近20多年的发展，现已发展成为河南省月饼食品加工行业中最大的一家行业龙头企业。公司位于偃师市山化乡风景秀丽的邙山脚下，占地面积2万多平方米。现已建成为一个集办公、住宿等配套设施齐全，绿化面积过半的花园式、现代化中型生产型企业。公司现拥有月饼馅料和真空包装熟肉制品全封闭式生产车间一个，年加工馅料能力3000多吨，年加工真空包装、高温杀菌、微波杀菌类袋装和碗装肉制品及果蔬类罐头产品合计可达1000万包；全封闭式烘培类产品和月饼产品生产车间一个，拥有国内最先进的月饼全自动化生产流水线一条，每天可加工各种月饼产品30多吨、各种烘培类糕点和烘焙类休闲食品20～30吨；并配有独立完善的化验室检测设备和人员。</p>

                            <p>尚康食品主营&ldquo;尚康牌月饼&rdquo;产品（其中&ldquo;高纤维月饼&rdquo;专利项目已获国家专利局批准），兼营月饼馅料和春节家宴快餐食品。月饼产品现已覆盖河南、山西、陕西、湖北、山东等范围内的200多个县市和地区，凭借优质的产品质量和完善的售后服务及恰当的市场定位，取得了良好的市场销售业绩。公司以&ldquo;搞好卫生为基础，不断创新为手断，确保质量为中心，满足顾客为目的&rdquo;；以&ldquo;质量第一，客户至上&rdquo;为经营宗旨；以&ldquo;时尚美味，营养健康&rdquo;为发展方向。</p>

                            <p>尚康食品严格落实卫生和质量管理制度，连年来被上级各职能部门授予了&ldquo;河南省十佳月饼品牌&rdquo;，&ldquo;河南省市场安全放心食品&rdquo;，&ldquo;河南省月饼创新奖&rdquo;等荣誉称号。公司于2003年6月通过了ISO9001：2000质量管理体系认证；尚康牌月饼于2006年9月获得河南名牌荣誉称号；南瓜种植资源研究与开发利用于2006年8月获得河南省科技进步二等奖；2009年度被洛阳市旅游发展委员会授予洛阳市旅游产品开发先进集体；2012年元&ldquo;尚康&rdquo;注册商标被评为河南省著名商标。面对未来，我们充满信心，&ldquo;尚康人&rdquo;将始终以&ldquo;维护质量安全，打造放心食品&rdquo;为已任。进一步调整经营理念，加强自身学习，作好结构调整；提高综合素质，搞好科学管理；广招英才，将本公司创建成为一个健康、可持续发展的优秀中国名牌企业，走出河南，走出中国，走向全世界。</p>
                            <div class="pinpai_img">
                                <img src="" title="品牌故事"/>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="hide">
                    <img src="/static/img/2017042213460513ZRqv.png" title="发展历程"/>
                </li>
                <!-- 企业文化 -->
                <li class="wenhua hide">
                    <div class="wenhua_i">
                        <h2>公司纲领</h2>

                        <p>为中国人的幸福生活，持续创造美味健康食品</p>

                        <h2>公司使命</h2>

                        <p>为社会创造价值，与客户互利共赢，使员工更加幸福，让企业基业长青</p>

                        <h2>企业精神</h2>

                        <p>诚信团结，求实创新，追求卓越</p>

                        <h2>品牌理念</h2>

                        <p>创造健康品质生活</p>

                        <h2>品牌定位</h2>

                        <p>打造中国健康食品第一品牌</p>
                    </div>

                </li>
                <!-- 荣誉证书 -->
                <li class="ry_box hide">
                    <div class="rongyu"><img alt="" src="/static/img/1492843693139315.jpg" style="width: 297px; height: 200px;" /></div>

                    <div class="rongyu"><img alt="" src="/static/img/1492843675408629.jpg" style="width: 306px; height: 200px;" /></div>

                    <div class="rongyu"><img alt="" src="/static/img/1492843597336895.jpg" style="width: 306px; height: 198px;" /></div>

                    <div class="rongyu"><img alt="" src="/static/img/1492843614744751.jpg" style="width: 306px; height: 200px;" /></div>

                    <div class="rongyu"><img alt="" src="/static/img/1492843634165973.jpg" style="width: 306px; height: 200px;" /></div>

                    <div class="rongyu"><img alt="" src="/static/img/1492843653279706.jpg" style="width: 306px; height: 200px;" /></div>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<script src="/static/js/jquery.min.js"></script>
<!-- tab切换 -->
<script>
    $(function(){
        $(".tabbox .tab a").click(function(){
            $(this).addClass('on').siblings().removeClass('on');
            var index = $(this).index();
            number = index;
            $('.tabbox .m_box li').hide();
            $('.tabbox .m_box li:eq('+index+')').show();
        });
    });
</script>

<!--footer B-->
{% include "foot.html" %}
</body>
</html>


